header {
    background-image: url("../Images/Layer 21.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 300px 0px 100px 0px;


}
.sertiz {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    margin:0px 0px 0px 215px;
}
.span1 {
    font-family: Montserrat;
    color:  #f1ad1d;
    font-size: 54px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;

}
.awesome {
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin:0px 0px 20px 215px;
}
.title {
    font-family: Montserrat;
    color: white;
    font-size: 54px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 100px 50px 215px;
    padding: 30px 0px 42px 32px;
    border: 2px solid #c3e3e4;
    background: rgba(0, 0, 0, 0.3);
    max-width: 800px;

}